.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid yellow;
  height: 100vh; /* Full viewport height */
}

.hi {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid red;
  padding: 20px; /* Optional for spacing inside the box */
}
